# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
# foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
#*.[oa]


!/demo2_files/*
!/us_demo_files/*
!demo2.egp
!us_demo.egp
!/world_files/*
!world.egp