<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="egis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="egis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <egis.Properties.Settings>
            <setting name="LicenceText" serializeAs="String">
                <value>Easy GIS .NET Desktop Edition
Copyright (C) 2008 - 2019 Winston Fletcher.
All rights reserved.

Easy GIS .NET is free software: you can redistribute it and/or modify it under the terms of thes GNU Lesser General Public License version 3 as published by the Free Software Foundation.

Easy GIS .NET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License and GNU Lesser General Public License along with Easy GIS .NET.
If not, see &lt;http://www.gnu.org/licenses/&gt;.
</value>
            </setting>
        </egis.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <egis.Properties.Settings>
            <setting name="LicenceAccepted" serializeAs="String">
                <value>False</value>
            </setting>
        </egis.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
