<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="egis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="egis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <egis.Properties.Settings>
            <setting name="LicenceText" serializeAs="String">
                <value>LICENSE AGREEMENT: THIS LICENSE AGREEMENT IS A LEGAL AGREEMENT BETWEEN YOU AND EASY GIS .NET FOR EASY GIS .NET DESKTOP EDITION. BY USING THIS PRODUCT YOU  AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT.

THIS SOFTWARE IS PROTECTED BY AUSTRALIAN AND INTERNATIONAL COPYRIGHT LAWS.
THIS SOFTWARE IS LICENSED, NOT SOLD.

GRANTED RIGHTS: THIS LICENSE GRANTS YOU THE RIGHT TO USE THIS SOFTWARE FOR USE AS IS OR IN DERIVED SOFTWARE APPLICATIONS, INCLUDING COMMERCIAL DESKTOP  APPLICATIONS.

LIMITATIONS: YOU MAY NOT REVERSE ENGINEER, DECOMPILE, OR DISASSEMBLE EASY GIS .NET DESKTOP EDITION OR ANY OF ITS COMPONENT LIBRARIES, INCLUDING EGIS.CONTROLS.DLL  AND EGIS.SHAPEFILELIB.DLL BINARIES. YOU MAY NOT RENT OR LEASE THIS SOFTWARE, YOU MAY NOT TRANSFER YOUR RIGHTS UNDER THIS LICENSE AGREEMENT. EASY GIS .NET  DESKTOP EDITION MAY NOT BE USED IN A WEB ENVIRONMENT, IT IS SPECIFIC TO NON WEB BASED USAGE SCENARIOS. EASY GIS .NET DESKTOP EDITION IS NOT A WEB DEVELOPMENT  TOOL AND MAY NOT BE USED IN A WEB SERVER ENVIRONMENT, THE EASY GIS .NET WEB EDITION WOULD BE REQUIRED FOR SUCH A CASE. EASY GIS .NET MAY NOT BE INTEGRATED WITH  OR INCORPORATED INTO ANY SOFTWARE PRODUCT SOLD OR OFFERED TO ANY 3RD PARTY WITHOUT AGREEMENT TO THE REDISTRIBUTION TERMS OF THE EASY GIS .NET DESKTOP  EDITION OUTLINED BELOW.

REDISTRIBUTION TERMS:  DEVELOPERS ARE FREE TO DISTRIBUTE THE EASY GIS .NET DESKTOP EDITION  EGIS.CONTROLS.DLL AND EGIS.SHAPEFILELIB.DLL BINARIES "ROYALTY FREE"  WITH THEIR APPLICATIONS, INCLUDING COMMERICAL DEVELOPEMENT APPLICATIONS, ONLY WHEN ALL OF THE FOLLOWING TERMS ARE MET:
1) A COPY OF THIS LICENCE AGREEMNET IS INCLUDED WITH YOUR APPLICATION.
2) YOUR APPLICATION MAY NOT, IN THE OPINION OF EASY GIS .NET, DIRECTLY COMPETE WITH EASY GIS .NET.
3) YOU AGREE TO INDEMNIFY, HOLD HARMLESS, AND DEFEND EASY GIS .NET. FROM AND AGAINST ANY AND ALL CLAIMS OR LAWSUITS THAT RESULT FROM THE USE OR DISTRIBUTION OF  YOUR APPLICATION.


DISCLAIMER OF WARRANTY: EASY GIS .NET DESKTOP SOFTWARE IS PROVIDED UNDER THIS LICENSE ON AN "AS IS" BASIS, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR  IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS, MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE OR NON-INFRINGING. THE  ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE SOFTWARE IS WITH YOU. SHOULD ANY COVERED CODE PROVE DEFECTIVE IN ANY RESPECT, YOU (NOT CORPORATE EASY  GIS .NET) ASSUME THE COST OF ANY NECESSARY SERVICING, REPAIR OR CORRECTION. THIS DISCLAIMER OF WARRANTY CONSTITUTES AN ESSENTIAL PART OF THIS LICENSE. 

LIABILITY: IN NO EVENT SHALL CORPORATE EASY GIS .NET BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS,  BUSINESS INTERRUPTION, LOSS OF INFORMATION OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF INABILITY TO USE THIS SOFTWARE, EVEN IF CORPORATE EASY GIS .NET  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

OWNERSHIP: EASY GIS .NET RETAINS OWNERSHIP OF THE SOFTWARE.

TERMINATION: WITHOUT PREJUDICE TO ANY OTHER RIGHTS, EASY GIS .NET MAY TERMINATE THIS LICENSE AGREEMENT IF YOU FAIL TO COMPLY WITH THE TERMS AND CONDITIONS OF  THIS AGREEMENT. IN SUCH EVENT, YOU MUST DESTROY ALL COPIES OF EASY GIS .NET, ANY DERIVATIVE WORK, AND ALL OF ITS COMPONENT PARTS.

GENERAL: BY USING THIS SOFTWARE YOU ACKNOWLEDGE THAT YOU HAVE READ THIS LICENSE AGREEMENT, UNDERSTAND IT, AND AGREE TO BE BOUND BY ITS TERMS AND  CONDITIONS.
</value>
            </setting>
        </egis.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <egis.Properties.Settings>
            <setting name="LicenceAccepted" serializeAs="String">
                <value>False</value>
            </setting>
        </egis.Properties.Settings>
    </userSettings>
</configuration>